.container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  align-items: center;
  font-size: 28px;
}
