.container {
  max-width: 1440px;
  padding-top: 10px;
}

.input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.text {
  font-size: 20px;
  margin-bottom: 5px;
}
